/*--- Fonts ---*/
.menublock {
    margin: 0 auto;
    width: 40%;
    background: #1BBC9B;
    text-align: center;	
}
.usermenu {
    margin-top: 80px;
    padding: 35px 0 20px 0;
	background-color: #eeeff1;
	text-align: center;
}
.usermenu a{
    width: 100%;
    height: 60px;
	font-size: 16px;
    background-color: #1BBC9B;
    border: none;
	color: #CBFDFD;
	cursor: pointer;
	outline: none;
	display: block;
	margin: auto;
	padding-bottom: 5px;
}
a:hover {
    background-color: #F96D6E;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
/*--- Responsinator Code ---*/
@media (max-width:1920px) {
	.usermenu a{
        width: 90.5%;
		margin-bottom: 20px;
	}
}
@media (max-width:1680px) {
	.usermenu a{
        width: 91%;
		margin-bottom: 20px;
	}
}
@media (max-width:1600px) {
	.usermenu a{
        width: 92%;
		margin-bottom: 20px;
	}
}
@media (max-width:1440px) {
	.usermenu a{
        width: 92.5%;
		margin-bottom: 20px;
	}
}
@media (max-width:1366px) {
	.usermenu a{
        width: 93%;
		margin-bottom: 20px;
	}
}
@media (max-width:1280px) {
	.usermenu a{
        width: 93.5%;
		margin-bottom: 20px;
	}
}
@media (max-width:1024px) {
    .menublock {
	    width: 50%;
    }
	.usermenu a{
        width: 91%;
		margin-bottom: 20px;
	}
}
@media (max-width:991px) {
    .menublock {
	    width: 50%;
	}
}

@media (max-width:966px) {
    .menublock {
	    width: 50%;
	}
	.usermenu a{
        width: 90%;
		margin-bottom: 20px;
	}
}
@media (max-width:853px) {
    .menublock {
	    width: 50%;
	}
	.usermenu a{
        width: 92%;
		margin-bottom: 20px;
	}
}
@media (max-width:800px) {
    .menublock {
	    width: 50%;
	}
	.usermenu a{
        width: 92%;
		margin-bottom: 20px;
	}
}
@media (max-width:768px) {
    .menublock {
        width: 55%;
    }	
	.usermenu {
        margin-top: 40px;
	}
}
@media (max-width:736px) {
    .menublock {
	    width: 70%;
	}
	.usermenu {
        margin-top: 40px;
	}
	.usermenu a{
		width: 90%;
	}
}
@media (max-width:667px) {
    .menublock {
	    width: 60%;
	}
	.usermenu {
        margin-top: 40px;
	}
	.usermenu a{
        width: 93%;
		margin-bottom: 20px;
	}
}
@media (max-width:640px) {
    .menublock {
	    width: 60%;
	}
	.usermenu a{
        width: 93.5%;
		margin-bottom: 20px;
	}
}
@media (max-width:603px) {
    .menublock {
	    width: 60%;
	}
	.usermenu a{
        width: 93%;
		margin-bottom: 20px;
	}
}
@media (max-width:600px) {
    .menublock {
	    width: 60%;
	}
	.usermenu a{
        width: 93.5%;
		margin-bottom: 20px;
	}
}
@media (max-width:568px) {
    .menublock {
	    width: 65%;
	}
	.usermenu {
        margin-top: 40px;
	}
	.footer p {
        margin-top: -65px;
    }
}
@media (max-width:533px) {
    .menublock {
	    width: 70%;
	}
}
@media (max-width:414px) {
    .menublock {
	    width: 90%;
	}
	.usermenu {
        margin-top: 60px;
	}
}
@media (max-width:384px) {
    .menublock {
	    width: 90%;
	}
}
@media (max-width:375px) {
    .menublock {
	    width: 90%;
	}
	.usermenu a{
        width: 94.5%;
		margin-bottom: 20px;
	}
}
@media (max-width:360px) {
    .menublock {
	    width: 90%;
	}
	.usermenu {
        margin-top: 40px;
	}
}
@media (max-width:320px) {
    .menublock {
	    width: 91%;
	}
	.usermenu {
        margin-top: 40px;
	}
	.usermenu a{
        width: 93%;
		margin-bottom: 20px;
	}
}
@media (max-width:240px) {
    .menublock {
        width: 95%;
    }
}
/*--- Responsinator Code ---*/