/*--- Fonts ---*/
@font-face {
	font-family: 'Cabin-SemiBold';
	src:url(../fonts/Cabin-SemiBold.ttf) format('truetype');
}
@font-face {
	font-family: 'Cabin-Regular';
	src:url(../fonts/Cabin-Regular.ttf) format('truetype');
}
/*--- Fonts ---*/
h1 {
	margin-top: 80px;
}

/*--- Index-Page-Styling ---*/
.contact-form {
    margin: 0 auto;
    width: 40%;
    background: #1BBC9B;
    text-align: center;	
}
.formulier {
    margin-top: 80px;
    padding: 35px 0 20px 0;
	background-color: #eeeff1;
	padding: 3%;
}
.formulier input[type="text"] {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px 35px 10px 10px;
    border: none;
    width: 100%;
	font-family: Cabin-Regular;
	color: gray;
}
.formulier  input[type="password"] {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px 35px 10px 10px;
    border: none;
    width: 100%;
	font-family: Cabin-Regular;
	color: gray;
}
.formulier input[type="email"]{
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px 35px 10px 10px;
    border: none;
    width: 100%;
	font-family: Cabin-Regular;
	color: gray;
}
.formulier input[type="submit"] {
    width: 100%;
    height: 40px;
	font-size: 16px;
    background-color: #1BBC9B;
    border: none;
	color: #CBFDFD;
	cursor: pointer;
	outline: none;
}
input[type="submit"]:hover {
    background-color: #F96D6E;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
form p {
    color: gray;	
}
form p a {
    color: gray;
    text-decoration: none;
}
form p a:hover {
    color: #F96D6E;
    text-decoration: underline;
}
/*--- Index-Page-Styling ---*/
/*--- Elements ---*/
.titleformfield {
	margin: 0% 0% 3% 0%;
	font-size: 25px;
}
/*--- Elements ---*/
/*--- Responsinator Code ---*/

@media (max-width:1920px) {
    .formulier input[type="text"], .formulier input[type="password"], .formulier input[type="email"]{
	    width: 100%;
		margin-bottom: 25px;
	}
	.formulier input[type="submit"]{
        width: 100%;
		margin-bottom: 20px;
	}
}
@media (max-width:1680px) {
    .formulier input[type="text"] {
		margin-bottom: 25px;
	}
	.formulier input[type="password"] {
		margin-bottom: 25px;
	}
	.formulier input[type="email"] {
		margin-bottom: 25px;
	}
	.formulier input[type="submit"] {
        width: 91%;
		margin-bottom: 20px;
	}
}
@media (max-width:1600px) {
    .formulier input[type="text"] {
		margin-bottom: 25px;
	}
	.formulier input[type="password"] {
		margin-bottom: 25px;
	}
	.formulier input[type="email"] {
		margin-bottom: 25px;
	}
	.formulier input[type="submit"] {
        width: 92%;
		margin-bottom: 20px;
	}
}
@media (max-width:1440px) {
    .formulier input[type="text"] {
		margin-bottom: 25px;
	}
	.formulier input[type="password"] {
		margin-bottom: 25px;
	}
	.formulier input[type="email"] {
		margin-bottom: 25px;
	}
	.formulier input[type="submit"] {
        width: 92.5%;
		margin-bottom: 20px;
	}
}
@media (max-width:1366px) {
    .formulier input[type="text"] {
		margin-bottom: 25px;
	}
	.formulier input[type="password"] {
		margin-bottom: 25px;
	}
	.formulier input[type="email"] {
		margin-bottom: 25px;
	}
	.formulier input[type="submit"] {
        width: 93%;
		margin-bottom: 20px;
	}
}
@media (max-width:1280px) {
	.formulier input[type="submit"] {
        width: 93.5%;
		margin-bottom: 20px;
	}
}
@media (max-width:1200px) {
    .formulier input[type="text"] {
	    width: 84%;
	}
	.formulier input[type="password"] {
	    width: 84%;
	}
	.formulier input[type="email"] {
	    width: 84%;
	}
}
@media (max-width:1080px) {
    .formulier input[type="text"] {
	    width: 83%;
	}
	.formulier input[type="password"] {
	    width: 83%;
	}
	.formulier input[type="email"] {
	    width: 83%;
	}
}
@media (max-width:1024px) {
    .contact-form {
	    width: 50%;
    }
    .formulier input[type="text"] {
	    width: 80%;
	}
	.formulier input[type="password"] {
	    width: 80%;
	}
	.formulier input[type="email"] {
	    width: 80%;
	}
	.formulier input[type="submit"] {
        width: 91%;
		margin-bottom: 20px;
	}
}
@media (max-width:991px) {
    .contact-form {
	    width: 50%;
	}
}
@media (max-width:966px) {
    .contact-form {
	    width: 50%;
	}
	.formulier input[type="submit"] {
        width: 90%;
		margin-bottom: 20px;
	}
}
@media (max-width:900px) {
    .formulier input[type="text"] {
	    width: 81%;
	}
	.formulier input[type="password"] {
	    width: 81%;
	}
	.formulier input[type="email"] {
	    width: 81%;
	}
}
@media (max-width:853px) {
    .contact-form {
	    width: 50%;
	}
	.formulier input[type="submit"] {
        width: 92%;
		margin-bottom: 20px;
	}
}
@media (max-width:800px) {
    .contact-form {
	    width: 50%;
	}
	.formulier input[type="submit"] {
        width: 92%;
		margin-bottom: 20px;
	}
}
@media (max-width:768px) {
    .contact-form {
        width: 55%;
    }
	.formulier {
        margin-top: 40px;
	}
}
@media (max-width:736px) {
    .contact-form {
	    width: 70%;
	}
	.formulier {
        margin-top: 40px;
	}
	.formulier input[type="submit"] {
		width: 90%;
	}
}
@media (max-width:667px) {
    .contact-form {
	    width: 60%;
	}
	.formulier {
        margin-top: 40px;
	}
	.formulier input[type="submit"] {
        width: 93%;
		margin-bottom: 20px;
	}
}
@media (max-width:640px) {
    .contact-form {
	    width: 60%;
	}
	.formulier input[type="submit"] {
        width: 93.5%;
		margin-bottom: 20px;
	}
}
@media (max-width:603px) {
    .contact-form {
	    width: 60%;
	}
	.formulier input[type="submit"] {
        width: 93%;
		margin-bottom: 20px;
	}
}
@media (max-width:600px) {
    .contact-form {
	    width: 60%;
	}
	.formulier input[type="submit"] {
        width: 93.5%;
		margin-bottom: 20px;
	}
}
@media (max-width:568px) {
    .contact-form {
	    width: 65%;
	}
	.formulier {
        margin-top: 40px;
	}
}
@media (max-width:533px) {
    .contact-form {
	    width: 70%;
	}
}
@media (max-width:414px) {
    .contact-form {
	    width: 90%;
	}
	.formulier {
        margin-top: 60px;
	}
}
@media (max-width:384px) {
    .contact-form {
	    width: 90%;
	}
}
@media (max-width:375px) {
    .contact-form {
	    width: 90%;
	}
	.formulier input[type="submit"] {
        width: 94.5%;
		margin-bottom: 20px;
	}
}
@media (max-width:360px) {
    .contact-form {
	    width: 90%;
	}
	.formulier {
        margin-top: 40px;
	}
}
@media (max-width:320px) {
    .contact-form {
	    width: 91%;
	}
	.formulier {
        margin-top: 40px;
	}
    .formulier input[type="text"] {
		width: 75%;
	}
	.formulier input[type="password"] {
	    width: 75%;
	}
	.formulier input[type="email"] {
	    width: 75%;
	}
	.formulier input[type="submit"] {
        width: 93%;
		margin-bottom: 20px;
	}
}
@media (max-width:240px) {
    .contact-form {
        width: 95%;
    }
	.formulier input[type="text"] {
        width: 70%;
        font-size: 12px;
    }
    .formulier input[type="password"] {
        width: 70%;
        font-size: 12px;
    }
    .formulier input[type="email"] {
        width: 70%;
        font-size: 12px;
    }
	form p a {
	    font-size: 12px;
	}
}


/*--- Responsinator Code ---*/