/*---LOGINPAGE---*/
.alternative-body {
	background-color: #1bbc9b;
}
.loginmargin {
	padding-top: 50px;
}
.loginblock {
	padding: 15px;
	background-color: #eeeff1;
}
.loginblock h1 {
	color: #1bbc9b;
	margin-bottom: 35px;
}
.copyrightelement {
	margin-top: 50px;
	color: #fff;
}
/*---HEADER---*/
.header {
	height: 50px;
	padding-top: 5px;
	background-color: #1bbc9b;
}
.header img{
	height: 34px;
	float: left;
	margin-top: 3px;
}
.header h3{
	margin: 7px;
	margin-left: 20px;
	float: left;
	color: #fff;
}
.usermenu {
	background-color: #222;
}
.usermenu a{
	float: right;
}
/*---PAGE-CONTENT---*/
.wrapper {
	padding-left: 225px;
}
.sidebar-wrapper {
	position: fixed;
	width: 225px;
	height: 100%;
	margin-left: -225px;
	background-color: #222;
}
.sidebar-nav li {
	text-indent: 20px;
	line-height: 45px;
	font-size: medium;
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999;
}
.active-nav {
	background-color: #333;
	color: #fff !important;
	font-size: larger;
	line-height: 50px;
}
.sidebar-nav li a:hover {
	background-color: #333;
	color: #fff;
}
.settings-nav {
	position: fixed;
	bottom: 0px;
	width: 225px;
}
.page-wrapper {

}

.form-group {
	margin: 15px 15px 15px 15px;
}
.form-control {
	margin: 0px;
}

.panel-default{
	margin-top: 25px;

}

.panel-heading{
	font-size: 20px;
}