/*---LOGINPAGE---*/
.alternative-body {
	background-color: #1bbc9b;
}
.loginmargin {
	padding-top: 50px;
}
.loginblock {
	padding: 15px;
	background-color: #eeeff1;
}
.loginblock h1 {
	color: #1bbc9b;
	margin-bottom: 35px;
}
.copyrightelement {
	margin-top: 50px;
}
/*---DASHBOARD---*/
.header {
	height: 50px;
	padding-top: 5px;
	background-color: #1bbc9b;
}
.header img{
	height: 34px;
	float: left;
	margin-top: 3px;
}
.header h3{
	margin: 7px;
	margin-left: 20px;
	float: left;
}
.usermenu {
	background-color: #363636;
}
.usermenu a{
	float: right;
}